# DATA FILES
node_modules
.circleci
allPhotoRef.json
newrelic_agent.log
dataList.json
dataList.csv
README.md
SETUP
STYLE-GUIDE.MD
targets.txt
temp.rdb
dump.rdb
.gitignore
.eslintrc
.eslint
seeder
dump.rdb
temp.rdb
.benchmark
.git
tests

pg_docker
mongo_docker
Nginx
