.eslint*
**/webpack.config.js
**/bundle.js
**/node_modules
**/public
**/coverage
**/tests
**/createPhotos.js
**/createDummyData.js
/seeder
dataList.json
dataList.csv
mongo_docker
nginx
pg_docker
**/app-server.js
**/app.js
